@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
a {
  text-decoration: none;
}
ul {
  text-decoration: none;
  list-style-type: none;
  margin-top: 5px;
  padding: 0;
}

.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: #597985;
}

.home_board-container {
  max-width: 1024px;
  height: auto;
}
.main-text {
  margin: 8px;
}

.home-container {
  ul {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-wrap: wrap;
  }
}

.home-container {
  li {
    width: 220px;
    height: 120px;
    background-color: rgba(9, 30, 66, .04);
    color: #fff;
    margin: 6px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
  }
}
li {
  div {
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #172b4d;
    font-weight: 600;
  }
}

.App-link {
  color: #61dafb;
}

li:hover {
  cursor: pointer;
  opacity: 0.9;
}